.about-block {
    margin-bottom: 80px;
    padding-top: 143px;
    padding-bottom: 143px;
    min-height: 720px;
    background-image: url(/images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.about-block-title {
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    color: #00559D;
}

.about-block-button {
}