.social-networks-block {

}

.social-networks-block-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 52px;    
    color: #FFFFFF;
}

.social-networks-block-list {
    
}

.social-networks-block-item {
    
}

.social-networks-block-link {
    
}