.why-us-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 106px;
}

.why-us-block-content {
    width: calc(100% / 12 * 5);
}

.why-us-block-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;  
    color: #005DAB;
}

.why-us-block-description {
    margin-top: 46px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.why-us-block-link {
    margin-top: 20px;
}

.why-us-block-image-wrapper {
    position: relative;
    width: 50%;
}

.why-us-block-image-wrapper::before {
    content: "";
    position: absolute;
    right: -110px;
    top: 30px;
    z-index: -1;
    width: calc(100% - 10px);
    height: calc(100% + 70px);
    background-color: #008752;
}

.why-us-block-image-wrapper::after {
    content: "";
    display: block;
    padding-bottom: 74%;
}

.why-us-block-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}